################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net7.0
/obj
/.vs/Task8.6.4
*.csproj
